body {background-image:url(../Imagenes/MANTEL1.png)  ;background-repeat: no-repeat; background-size:cover ; background-position: center center; background-attachment: fixed; height: 100%}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
h1{font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;font-size: 80px;color: white; text-align: center; background-color:crimson}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    .epigrafe{font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;font-size: 20px;color: white; text-align: center;}
.contenedor{ display: flex;align-items: center;}
.texto-contenedor{background-color: crimson ;display: flex;flex-direction: column;justify-content: center;flex-grow: 2;max-width: 54%;padding:2.7%;align-items: center; }
.imagen-contenedor{display: flex;align-items: center;flex-grow: 1;justify-content: flex-start;max-width: 43%; margin-left: 0px; margin-right: 0px;}
img {max-width: 100%; }
.imagen-logo{width: 150px}
.logosheader{ width:50px;}
.logosheader:hover{ background-color: black;border-radius: 15px;}
.sub-contenedor{ display:flex; flex-direction: row; align-items: center; max-width: 800px;; justify-content: space-around;}
.texto-subcontenedor{ padding: 0%; max-width: 800px; max-height: 200px;}
header{display: flex;flex-wrap: wrap; width: 97.8vw; height: 59vh; }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.subtitulos{ font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto; 
    font-weight: 700;
    font-style: normal;font-size: 56px; text-decoration: underline;text-decoration-color: crimson;; text-align: center; color: white;}
   .parent{display: flex;justify-content: center;align-items: center;}
    .contenedor-items{display: flex; justify-content: center;align-items: center;padding: 60px;; background-color: white; margin-top: 0px;margin-bottom: 0px; margin-left: 30px;margin-right: 30px;; width: 50%;height: 70%}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
li{ font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;font-size: 25px; text-align: justify;max-height: 100%;}
    iframe{display: block; margin: 0 auto; max width: 100%; height: 450px;}
    aside{ flex-grow: 2; flex-direction: column column-reverse;height: 100%;width: 27.5%; box-sizing: border-box;}
    .texto-contenedor-2{ background-color: rgb(244, 238, 127);padding: 15%;width:auto; margin-right: 5px;margin-left: 6px; display: flex; flex-direction:column ;justify-content: center; max-width: 100%; max max-height: 60%;}
    .contedor-mapa{display: flex;align-items: center;margin-right: 20px;max-width: 100%; max-height: 25%}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    h2{font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;font-size: 40px; text-decoration: underline;text-decoration-color: crimson; color: white}
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
p{font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;font-size: 25px; color: white;}
    nav{background-color: rgb(145, 21, 21);padding: 15px;display:flex; flex-flow: row ; justify-content: space-around;}
     @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    a{ font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;color: white;font-size: 20px;text-decoration: none;}
        a:hover{text-decoration:underline}
        section{display: flex;max-height: 300vh;}
        main{ flex-grow: 1; flex-direction: column; height: 100%;box-sizing: border-box;width: 73.5%;}
       .imagen-mate{display: flex;align-items: center;margin-left: 5px; margin-right: 5px;}
       footer{background-color: crimson;;display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px; max-height: 50vh;flex-direction: row;}
       .logos{width:90px ; height: 90px;}
       .logos:hover{width: 70px;height: 70px;}
       .btn-wsp{position: fixed;
    width: 55px; height: 55px; line-height: 55px; bottom: 30px; right: 30px;background: #0df053; color: #fff; border-radius: 50px; text-align: center; font-size: 30px;box-shadow: 0px 1px 10px rgb(0,0,0,0.3));}
    .btn-wsp:hover {text-decoration: none;color: #0df053;background: #fff;}
    .foot1{ max-height: 300px; }
    .mapa{ max-height: 250px;}
    .foot2{ display: flex; justify-content: space-between; align-items: center; width: 700px;}
    .foot3{ display: flex; max-width: 365px;align-items: center;}
    .ir{color: #000000;}
    .head-contactos{background-color: crimson; align-items: center; justify-content: center; max-height: 50vh;}
    .section-contactos{display:flex; height: 100vh;}