body {background-image:url(../Imagenes/MANTEL1.png)  ;background-repeat: no-repeat; background-size:cover ; background-position: center center; background-attachment: fixed; height: 100%}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
h1{font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;font-size: 80px;color: white; text-align: center; background-color:crimson}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    .epigrafe{font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;font-size: 20px;color: white; text-align: center;}
.contenedor{ display: flex;align-items: center;}
.texto-contenedor{background-color: crimson ;display: flex;flex-direction: column;justify-content: center;flex-grow: 1;max-width: 54%;;align-items: center; padding-top:7.3%; padding-bottom: 7.3%;}
.imagen-contenedor{display: flex;align-items: center; flex-grow: 2;justify-content: right;max-width: 47%; margin-left: 0px; margin-right: 0px; background-color: #0df053;}
img {max-width: 100%; }
.imagen-logo{width: 150px}
.logosheader{ width:50px;}
.logosheader:hover{ background-color: black;border-radius: 15px;}
.sub-contenedor{ display:flex; flex-direction: row; align-items: center; max-width: 800px;; justify-content: space-around;}
.texto-subcontenedor{ padding: 0%; max-width: 800px; max-height: 200px;}
header{display: flex;flex-wrap: wrap; width: 99vw;height: 65vh; }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.subtitulos{ font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto; 
    font-weight: 700;
    font-style: normal;font-size: 56px; text-decoration: underline;text-decoration-color: crimson;; text-align: center; color: white;}
   .parent{display: flex;justify-content: center;align-items: center;}
    .contenedor-items{display: flex; justify-content: center;align-items: center;padding: 60px;; background-color: white; margin-top: 0px;margin-bottom: 0px; margin-left: 30px;margin-right: 30px;; width: 50%;height: 70%}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
li{ font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;font-size: 25px; text-align: justify;max-height: 100%;}
    iframe{display: block; margin: 0 auto; max width: 100%; height: 450px;}
    aside{ flex-grow: 2; flex-direction: column column-reverse;height: 100%;width: 27.5%; box-sizing: border-box;}
    .texto-contenedor-2{ background-color: rgb(244, 238, 127);padding: 15%;width:auto; margin-right: 5px;margin-left: 6px; display: flex; flex-direction:column ;justify-content: center; max-width: 100%; max max-height: 60%;}
    .contedor-mapa{display: flex;align-items: center;margin-right: 20px;max-width: 100%; max-height: 25%}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    h2{font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;font-size: 40px; text-decoration: underline;text-decoration-color: crimson; color: white}
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
p{font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;font-size: 25px; color: white;}
    nav{background-color: rgb(145, 21, 21);padding: 15px;display:flex; flex-flow: row ; justify-content: space-around;}
     @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    a{ font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;color: white;font-size: 20px;text-decoration: none;}
        a:hover{text-decoration:underline}
        section{display: flex;max-height: 300vh;}
        main{ flex-grow: 1; flex-direction: column; height: 100%;box-sizing: border-box;width: 73.5%;}
       .imagen-mate{display: flex;align-items: center;margin-left: 5px; margin-right: 5px;}
       footer{background-color: crimson;;display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px; max-height: 50vh;flex-direction: row;}
       .logos{width:90px ; height: 90px;}
       .logos:hover{width: 70px;height: 70px;}
       .btn-wsp{position: fixed;
    width: 55px; height: 55px; line-height: 55px; bottom: 30px; right: 30px;background: #0df053; color: #fff; border-radius: 50px; text-align: center; font-size: 30px;box-shadow: 0px 1px 10px rgb(0,0,0,0.3));}
    .btn-wsp:hover {text-decoration: none;color: #0df053;background: #fff;}
    .foot1{ max-height: 300px; }
    .mapa{ max-height: 250px;}
    .foot2{ display: flex; justify-content: space-between; align-items: center; width: 700px;}
    .foot3{ display: flex; max-width: 365px;align-items: center;flex-direction: column;justify-content: center;}
    .ir{color: #000000;}
    .head-contactos{background-color: crimson; align-items: center; justify-content: center; max-height: 30vh;max-width:98vw ;}
    .section-contactos{display:flex; height: 80vh;}
    
    @media (min-width:992px){.argentina{display: none;}}
    @media (min-width:768px) and (max-width: 991px) {h1{font-size: 40px;} .subtitulos{font-size: 25px;}.imagen-logo{max-width: 100px;}.logosheader{max-width: 35px;}li{font-size: 15px;} a{font-size: 12px;}.imagen-contenedor{max-width: 402px;}.texto-contenedor{padding: 50px;padding-left: 40px;padding-right: 45px;padding-top: 62px ;}
      h2{font-size: 25px;}p{font-size: 15px;}.mapa-contenedor{display: none;}iframe{max-width: 350px;max-height: 200px;}.logos{max-width: 50px;max-height: 50px;}.mapa{max-width:250px ; max-height: 200px;} .epigrafe{font-size:20px} header{max-height: 268px; max-width: 950px;} footer{max-height: 400px;} .argentina{max-width: 248px;margin-left: 5px;}.tarjeta1{margin-top: 100px;} .tarjeta2{margin-top: 100px;} 
    }
    @media (orientation: landscape) and  (min-width:576px) and (max-width: 767px)  {h1{font-size: 30px;} .subtitulos{font-size: 25px;}.imagen-logo{max-width: 100px;}.logosheader{max-width: 45px;}li{font-size: 15px;} a{font-size: 12px;}.imagen-contenedor{max-width: 280px;}.texto-contenedor{padding: 2px;padding-left: 40px;padding-right: 3px; padding-top: 20px;padding-bottom: 20px;}
    h2{font-size: 25px;}p{font-size: 15px;}.mapa-contenedor{display: none;}iframe{max-width: 350px;max-height: 200px;}.logos{max-width: 50px;max-height: 50px;}.mapa{max-width:250px ; max-height: 200px;}  .epigrafe{font-size:10px} header{max-height: 185px; max-width: 685px;} .argentina{max-width:175px ; margin-left: 5px;} .tarjeta1{margin-top: 1300px;}footer{margin-top: 2200px;min-height: 350px;}

  }
    @media (max-width: 575px) {h1{font-size: 20px;} .subtitulos{font-size: 25px;}.imagen-logo{max-width: 70px;}.logosheader{max-width: 30px;}li{font-size: 15px;} a{font-size: 12px;}.imagen-contenedor{max-width: 218px;}.texto-contenedor{padding: 10px;padding-left: 25px;padding-right: 3px; padding-top: 21px; padding-bottom: 21px;}
    h2{font-size: 25px;}p{font-size: 15px;}.mapa-contenedor{display: none;}iframe{max-width: 350px;max-height: 200px;}.logos{max-width: 50px;max-height: 50px;}.mapa{max-width:250px ; max-height: 200px;}  .epigrafe{font-size:10px} header{max-height: 145px; max-width: 535px;}.argentina{max-width: 135px;margin-left: 5px;} .tarjeta1{margin-top: 300px;}footer{margin-top: 300px;}
   nav{font-size: 10px;}#oscuro{max-width: 30px; max-height: 20px; font-size: 0px;}#claro{max-width: 30px; max-height: 20px; font-size: 0px;}#tarjetas{margin-top: -300px;}
  }
    .card-text{ font-size: 20px;color: #000000;text-align: center; }    
    .card-title{ display: flex;justify-content: center;text-decoration: underline; color: crimson; margin-top: 10px; }
    .card-body{ background-color: white; height: 300px; display: flex;  flex-direction: column;}
    .card-img-top {max-height: 170px; }
   #claro{display: none;}
   #tarjetas{margin-top: 300px;}
   .datos1{display: flex;align-items: center; justify-content: center;}
  .inicio{max-width: 100% ; display: flex; justify-content: center; align-items: center;}