body {background-image: url(https://i.pinimg.com/736x/24/06/38/240638303cf3a89864ee03868623cc2d.jpg);background-repeat: no-repeat;background-attachment: fixed; background-position: center; background-size: cover;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
h1{font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;font-size: 80px;color: white; text-align: center}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    .epigrafe{font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;font-size: 20px;color: white; text-align: center;}
.contenedor{ display: flex;align-items: center;justify-content: space-between;}
.texto-contenedor{background-color: crimson;padding: 58px;margin-right: 0px;display: flex;flex-direction: column;justify-content: center;flex-grow: 2;}
.imagen-contenedor{display: flex;align-items: center;flex-grow: 1;justify-content: flex-end;}
img {max-width: 100%;width: 600px; height:auto;margin-right: 0px; }
.imgen-ajustada{max-width: 100%;height: auto;margin-right: 0px;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.subtitulos{ font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;font-size: 60px; text-decoration: underline;text-decoration-color: crimson;; text-align: center; color: white;}
   .parent{display: flex;justify-content: center;align-items: center;500px}
    .contenedor-items{display: flex; justify-content: center;align-items: center;height: 100vh; background-color: white; margin-top: 0px;margin-bottom: 0px; margin-left: 30px;margin-right: 30px;padding: 50px; width: 50%;height: 400px}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
li{ font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;font-size: 25px; text-align: justify;}
    iframe{display: block; margin: 0 auto; max width: 100%; height: 450px;}
    .contenedor-2{ display: flex;align-items: center;justify-content: space-between;}
    .texto-contenedor-2{background-color: rgb(244, 238, 127);padding: 43px;margin-right: 0px;display: flex;flex-direction: column;justify-content: center;flex-grow: 2;}
    .contedor-mapa{display: flex;align-items: center;flex-grow: 1;justify-content: flex-end;}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    h2{font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;font-size: 40px; text-decoration: underline;text-decoration-color: crimson; color: white}
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
p{font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;font-size: 25px;}